*{
    font-family: Amiko;
}
body {
    margin: 0;
    background-color: #141414;
}

/* Começo cadastro */

#backgroundCadastro {
    background-color: #141414;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cadastro {
    display: flex;
    justify-content: center;
    height: 80vh;
    position: relative;
}

#cadastro #container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #191919;
    height: 90vh;
    width: 35vw;
    border-bottom-left-radius: 2vh;
    border-top-left-radius: 2vh;
    border-top: #1D1C1C solid 3px;
    border-bottom: #1D1C1C solid 3px;
    border-left: #1D1C1C solid 3px;
    box-sizing: border-box;
}

#cadastro #astronautaImg {
    object-fit: cover;
    height: 90vh;
    width: 35vw;
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
}

#cadastro #imagemLogo {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

#cadastro #logo {
    margin-left: 1.5vw;
    background-size: cover;
    height: 8vh;
}

#cadastro h1 {
    color: #FFFFFF;
    margin: 0;
    font-size: 4vh;
    font-family: 'Amiko', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#cadastro #textUnderline {
    background-color: #A32DA3;
    width: 65px;
    height: 5px;
    border-radius: 20px;
    margin-top: 0;
}

#container .container-input{
    display: flex;
    
    width: 50%;
    height: 80%;
    background-color: rebeccapurple;
}

#cadastro input {
    border-bottom: #141414 solid 2px;
    border-bottom: #141414 solid 2px;
    width: 8vw;
    height: 5vh;
    background-color: #1D1C1C;
    color: #FFFFFF;
    border-top: #1D1C1C;
    border-left: #1D1C1C;
    border-right: #1D1C1C;
    margin-top: 1.5vh;
    outline: none;
    transition: 0.3s;
    padding-left: 1vh;
}

#cadastro input:focus{
    border-bottom: #6248AE solid 2px;
}

#cadastro .inputs p {
    margin: 0;
    color: #FFFFFF;
    margin-bottom: 0.1vh;
    margin-top: 5.5vh;
    font-size: 2.5vh;
    font-family: AbeeZee;
}

#cadastro button {
    background-color: #6248AE;
    color: #FFFFFF;
    border-radius: 5px;
    height: 6vh;
    width: 35vh;
    margin-top: 5.5vh;
    border: none;
    transition: 0.3s;
}

#cadastro button:hover {
    cursor: pointer;
    background-color: #6f5bad;
}

#cadastro p {
    color: #FFFFFF;
    margin-top: 4.8vh;
    font-family: AbeeZee;
    font-size: 2.5vh;
}

#cadastro a {
    color: #FFFFFF;
    text-decoration-color: #6248AE;
    font-family: AbeeZee;
    font-size: 2.5vh;
}
/* Fim cadastro */

/* == ÍNICIO MOBILE CADASTRO == */
@media(max-width: 767px){
    #cadastro{
        display: flex;
        justify-content: center;
        width: 85vw;
        flex-direction: column-reverse;
        align-items: center;
        text-align: justify;
    }
    #cadastro #imagemLogo{
        margin-top: 1vh;
        margin-bottom: 2vh;
    }
    #imagemLogo #logo{
        height: 8vh; 
    }
    #cadastro .inputs{
        width: 60%;
    }
    #cadastro .inputs input{
        width: 100%;
    }
    #cadastro button{
        width: max-content;
        padding: 1rem;
        height: max-content;
    }
    #cadastro #container{
        width: 90%;
        border-radius: 0%;
    }
    #cadastro #astronautaImg {
        width: 90%;
        border-top-left-radius: 2vh;
        border-top-right-radius: 2vh;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        height: 10vh;
    }
    #cadastro p{
        font-size: 92%;
    }
}

/* == FIM MOBILE CADASTRO == */