/* fonte geral do site */
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Amiko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "ABeeZee", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center {
  width: 80%;
}

/* =========== ESTILIZAÇÃO BANNER =================== */
#banner {
  background-image: url("../features/img/banner.png");
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#banner .center {
  height: fit-content;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center #texto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
  margin: 5vh 0;
}

.center #txtBanner {
  width: 50%;
  color: #fff;
  font-size: 3.5vh;
  text-align: center;
  margin: 1.5vh 0;
}

.center #btnSaibaMais {
  width: 20%;
  height: 5vh;
  background-color: #ae3cae;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 1.5vh 0;
}
/* =========== FIM ESTILIZAÇÃO BANNER =================== */

/* =========== ESTILIZAÇÃO QUEM SOMOS|OBJETIVOS =================== */
.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #252525;
}

.container .center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-content-about {
  background-color: #6248ae;
  width: 80%;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 3vh 0;
}

.box-content-about .img-about,
.box-content-about .img-about2 {
  width: 100%;
  height: 100%;
  background-color: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-content-about .img-about img {
  width: 60%;
  height: 100%;
  padding: 2vh;
}

.box-content-about .img-about2 img {
  width: 55%;
  height: 90%;
  padding: 2vh;
}

.text-about {
  width: 50%;
  height: 100%;
  flex-shrink: 0;
  background-color: #6248ae;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-about .center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-about .center h2 {
  color: #fff;
  text-align: center;
  font-family: Amiko;
  font-size: 4vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-about .center p {
  color: #fff;
  text-align: center;
  font-family: ABeeZee;
  font-size: 2vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* =========== FIM >>> ESTILIZAÇÃO QUEM SOMOS|OBJETIVOS =================== */

#vetor {
  background-color: #252525;
  width: 100%;
}

#vetor1 {
  background-color: #252525;
  width: 100%;
}

/* =========== ESTILIZAÇÃO SEÇÃO + PRINCIPIOS =================== */
#container-principlesUntilTeam {
  width: 100%;
  height: auto;
  background-color: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container-principlesUntilTeam .center {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.center .container-principles {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3vh 0;
}

.center .container-principles #principles-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#principles-content .title-principles {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#principles-content .title-principles h2 {
  color: #fff;
  font-family: "Amiko";
  font-size: 4vh;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.title-principles .underline {
  justify-self: start;
  align-self: flex-start;
  background-color: #a32da3;
  width: 80px;
  height: 5px;
  border-radius: 20px;
  margin: 0;
}

#card-principles {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

#card-principles.card-animated img {
  height: 60px;
  width: 60px;
  max-width: 100%;
  max-height: 100%;
}

.card-animated {
  width: 30%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #191919;

  box-shadow: #ffffff17 -5px 6px 4px;
  border-radius: 10px;
  margin: 2.5vh 0;
}

.card-animated p {
  color: #fff;
  font-family: ABeeZee;
  font-size: 4vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1vh;
}

.card-animated:hover {
  transform: translateY(-7px);
  transition: 0.4s;
  box-shadow: #ffffff10 -5px 6px 4px;
}

.card-animated:hover img,
.card-animated:hover p {
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}

.card-animated img,
.card-animated .title2 {
  visibility: visible;
  opacity: 1;
  transition: 0.4s;
}

.card-animated:not(:hover) {
  transform: translateY(0px);
  transition: 0.4s;
}

.text {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.card-animated:hover .text {
  visibility: visible;
  opacity: 1;
  transition: 0.4s;
  font-size: 2.5vh;
}

/* =========== FIM >>> ESTILIZAÇÃO SEÇÃO + PRINCIPIOS =================== */

/* =========== ESTILIZAÇÃO PRODUTO =================== */
.container-product {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2vh 0;
}

.title-product {
  height: auto;
  width: fit-content;
}

.title-product h2 {
  color: #fff;
  font-family: "Amiko";
  font-size: 4vh;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.title-product .underline {
  justify-self: start;
  align-self: flex-start;
  background-color: #a32da3;
  width: 80px;
  height: 5px;
  border-radius: 20px;
  margin: 0;
}

.card-product {
  width: 80%;
  height: fit-content;
  background-image: url("../features/img/background-cardProduct.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 2vh 0;
  cursor: pointer;
}

.card-product .content-card {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 3vh 0;
}

.card-product .content-card img {
  width: 20vh;
  height: 20vh;
}

.card-product .content-card h2 {
  color: #fff;
  font-family: ABeeZee;
  font-size: 4vh;
  letter-spacing: 0.5vh;
  margin: 0;
  padding: 0;
}

#fade,
#modal {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

/* =========== FIM >>> ESTILIZAÇÃO PRODUTO =================== */


/* =========== ESTILIZAÇÃO FORM CONTATO =================== */
#container-contact{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #252525 ;
}

#container-contact .center{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5vh;
}

#image-contact {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-contact img{
  width: 70%;
  height: 70%;
}

#form-contact{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-contact {
  height: auto;
  width: fit-content;
}

.title-contact h2 {
  color: #fff;
  font-family: "Amiko";
  font-size: 4vh;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.title-contact .underline {
  justify-self: start;
  align-self: flex-start;
  background-color: #a32da3;
  width: 80px;
  height: 5px;
  border-radius: 20px;
  margin: 0;
}


#container-emailPhone {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.input-emailPhone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 45%;
}

.input-emailPhone p {
  align-self: self-start;
  color: #fff;
  font-family: ABeeZee;
  font-size: 2vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input-emailPhone input {
  width: 100%;
  height: 5vh;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  border: 1px solid #6248ae;
  background: #1d1c1c;
  color: #fff;
  font-family: ABeeZee;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.input-emailPhone input:focus, #container-message textarea{
  outline: none;
}

.input-emailPhone input::placeholder {
  color: #3e3e3e;
  font-family: ABeeZee;
  font-size: 2vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 1vh;
}

#container-message {
  margin: 2vh 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#container-message p {
  align-self: flex-start;
  color: #fff;
  font-family: ABeeZee;
  font-size: 2vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#container-message textarea {
  width: 100%;
  height: 15vh;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #6248ae;
  background: #1d1c1c;
  color: #fff;
  font-family: ABeeZee;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#container-message textarea::placeholder {
  color: #3e3e3e;
  font-family: ABeeZee;
  font-size: 2vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 1vh;
  padding-top: 1vh;
}

#form-contact button {
  width: 9.375rem;
  height: 1.875rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  background: #6248ae;
  border: none;
  color: #fff;
  text-align: center;
  font-family: ABeeZee;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: flex-start;
}
/* =========== FIM >>> ESTILIZAÇÃO FORM CONTATO =================== */




.footer {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #0f0f0f;
}

.footer .center{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


#inputNovidades input {
  width: 25vh;
  height: 3.5vh;
  flex-shrink: 0;
  border-radius: 5px;
  background: #191919;
  border: none;
  color: #fff;
  font-family: ABeeZee;
  font-size: 1.5vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#inputNovidades input::placeholder{
  padding-left: 1vh;
}

#btnEnviar{
  width: 10vh;
  height: 3.5vh;
  background-color: #6248ae;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: ABeeZee;
  font-size: 1.5vh;
}

#inputNovidades img {
  width: 12.4375rem;
  height: 1.9375rem;
  flex-shrink: 0;
}

#inputNovidades p {
  color: #fff;
  text-align: start;
  font-family: Segoe UI;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logoNovidades {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3rem;  
}

.logoNovidades img {
  width: 25vh;
  height: 5vh;
  flex-shrink: 0;
}

.redesSociais {
  width: 50%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
}

.redesSociais img {
  width: 3.5vh;
  height: 3.5vh;
  flex-shrink: 0;
}



/* INICIO NAVBAR */
.logo-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  width: 100vw;
  height: fit-content;
  padding-bottom: 2vh;
  padding-top: 2vh;
  background-color: #131313;
  justify-content: space-around;
}

ul {
  width: 40vw;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.listaNav li {
  list-style: none;
  font-size: 100%;
  padding: 4%;
}

.listaNav li a {
  color: white;
  text-decoration: none;
}

/* INICIO BANNER */

/* INICIO MOBILE NAVBAR */
.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background-color: #6248ae;
  margin: 8px;
}

.listaNav.active {
  margin-top: 0;
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}


#hasSlides {
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#team {
  width: 90%;
  height: fit-content;
  position: absolute;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.title-team{
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  align-self: center;
  justify-self: center;
  margin: 2vh 0;
}

.title-team h2 {
  color: #fff;
  font-family: "Amiko";
  font-size: 4vh;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.title-team .underline {
  justify-self: start;
  align-self: flex-start;
  background-color: #a32da3;
  width: 80px;
  height: 5px;
  border-radius: 20px;
  margin: 0;
}

.slides .slide img {
  width: 100%;
  height: 65vh;
  border-radius: 10px;
}

.slides {
  display: flex;
  width: 600%;
  height: 100%;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.radioIpt {
  display: none;
}


#radio1:checked ~ .s1 {
  margin-left: 0;
}

#radio2:checked ~ .s1 {
  margin-left: -20%;
}

#radio3:checked ~ .s1 {
  margin-left: -40%;
}

#radio4:checked ~ .s1 {
  margin-left: -60%;
}

#radio5:checked ~ .s1 {
  margin-left: -80%;
}

#radio6:checked ~ .s1 {
  margin-left: -100%;
}


.navigation {
  position: absolute;
  left: 21%;
  bottom: 5%;
  transform: translate();
  display: flex;
}

.bar {
  width: 8vw;
  height: 3vh;
  border: 2px solid #fff;
  margin: 2%;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.6s;
}

.bar:hover {
  background-color: #fff;
}

.listaNav li:hover {
  transition: 0.6s;
  background: #beabf552;
}

#equipeText {
  font-size: 1.5vw;
  text-align: center;
  color: #fff;
  font-weight: 600;
}

#equipe .quad-roxo {
  text-align: center;
}


#fade {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal {
  margin: auto;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: #191919;
  font-family: ABeeZee;
  transform: translate(-50%, -50%);
  width: 1000px;
  color: #ffff;
  font-size: 3rem;
  padding: 1.2rem;
  border-radius: 0.5rem;
  z-index: 10;
  padding-left: 5rem;
  padding-right: 5rem;
}

.modal-header {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}

.hide button {
  background-color: #ae3cae;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 2rem;
  color: #ffff;
  font-size: 1.2rem;
  cursor: pointer;
}

.modalBody {
  margin-top: 3rem;
  max-width: 30rem;
  display: flex;
}

.divServer {
  background-color: #141414;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 15rem;
  width: 27rem;
  border-radius: 1rem;
}

#container1 {
  align-items: center;
}

.img-server {
  width: 7rem;
  height: 11rem;
}

#descricaoProduto {
  width: 30rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#textoModal {
  width: 100%;
  font-size: 0.6rem;
  padding-top: 5px;
  text-align: center;
}

#grafico1 {
  background-color: #141414;
  width: 20rem;
  height: 7rem;
  border-radius: 1rem;
}

.img-vetor {
  height: 2rem;
  width: 20rem;
  margin-bottom: 8rem;
}

h6 {
  font-family: ABeeZee;
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: 1.5rem;
}

#container2 {
  margin-left: 5rem;
  padding-bottom: 6rem;
}

#grafico2 {
  background-color: #141414;
  width: 20rem;
  height: 7rem;
  border-radius: 1rem;
}

#grafico3 {
  background-color: #141414;
  width: 20rem;
  height: 7rem;
  border-radius: 1rem;
}
