html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    background-color: #141414;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.login{
    display: flex;
    justify-content: space-between;
    width: 60vw;
    height: 90vh;
    background-color: #191919;
    border-radius: 2vh;
}

.conteiner-login img{
    height: 10vh;
    margin-top: 3vh;
    margin-left: 3vh;
}

.login .img{
    height: 90vh;
    background-size: cover;
}