body {
    margin: 0px;
    background-color: #141414;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Começo Container 3 */

#container3 #title {
    margin-bottom: 10px;
}

#container3 h2 {
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.5vw;
}

#container3 #textUnderline {
    background-color: #A32DA3;
    width: 65px;
    height: 5px;
    border-radius: 20px;
}

#container3 {
    background-color: #141414;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    position: relative;
}

#vetor {
    background-color: #252525;
    margin-bottom: 0px;
    width: 100%;
}

#boxes {
    display: flex;
    flex: 1;
}

#container3 #boxes img {
    background-color: #191919;
    height: 65px;
    width: 65px;
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
}

#container3 p {
    color: #FFFFFF;
    font-size: 1.5vw;
    margin: 5px;
}

.box {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #191919;
    height: 25vh;
    width: 20vw;
    box-shadow: #252525 -5px 6px 4px;
    margin: 35px;
    border-radius: 7px;
    margin-top: 20px;
    border: #191919 solid 1px;
}

.box:hover {
    transform: translateY(-7px);
    transition: 0.4s;
    box-shadow: #252525 -8px 13px 4px;
    border: #9373EF solid 1px;
}

.box:hover img, .box:hover p {
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
}

.box img, .box .title2 {
    visibility: visible;
    opacity: 1;
    transition: 0.4s;
}

.box:not(:hover) {
    transform: translateY(0px);
    transition: 0.4s;
}

.text {
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

.box:hover .text {
    visibility: visible;
    opacity: 1;
    transition: 0.4s;
}

/* Fim Container 3 */