body {
    margin: 0px;
}

/* Começo Container 3 */

.container {
    display: flex;
    flex-direction: column;
}

#container3 h2 {
    color: #FFFFFF;
    margin-top: 0px;
}

#container3 {
    background-color: #141414;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

#vetor {
    background-color: #252525;
    margin-bottom: 0px;
    width: 100%;
}

#boxes {
    display: flex;
}

#container3 #boxes img {
    background-color: #191919;
    height: 65px;
    width: 65px;
}

#container3 p {
    color: #FFFFFF;
    font-size: 22px;
    margin: 5px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #191919;
    height: 150px;
    width: 250px;
    box-shadow: #252525 -3px 4px 4px;
    margin: 35px;
    border-radius: 7px;
    margin-top: 20px;
}

/* Fim Container 3 */